/* line 1, ../scss/grid.scss */
.v-grid {
  display: flex;
  flex: none;
  flex-wrap: wrap;
  box-sizing: border-box;
}
/* line 6, ../scss/grid.scss */
.v-grid:after {
  clear: both;
  display: table;
  content: "";
}

/* line 13, ../scss/grid.scss */
.start {
  justify-content: flex-start;
}

/* line 16, ../scss/grid.scss */
.end {
  justify-content: flex-end;
}

/* line 19, ../scss/grid.scss */
.center {
  justify-content: center;
}

/* line 22, ../scss/grid.scss */
.spacebetween {
  justify-content: space-between;
}

/* line 25, ../scss/grid.scss */
.spacearound {
  justify-content: space-around;
}

/* line 29, ../scss/grid.scss */
.row {
  flex-direction: row;
}

/* line 32, ../scss/grid.scss */
.row-rev {
  flex-direction: row-reverse;
}

/* line 35, ../scss/grid.scss */
.col {
  flex-direction: column;
}

/* line 38, ../scss/grid.scss */
.col-rev {
  flex-direction: column-reverse;
}

/* line 42, ../scss/grid.scss */
.alignstart {
  align-items: flex-start;
}

/* line 45, ../scss/grid.scss */
.alignend {
  align-items: flex-end;
}

/* line 48, ../scss/grid.scss */
.aligncenter {
  align-items: center;
}

/* line 51, ../scss/grid.scss */
.alignbaseline {
  align-items: baseline;
}

/* line 54, ../scss/grid.scss */
.alignstretch {
  align-items: stretch;
}

@media screen and (min-width: 30em) {
  /* line 60, ../scss/grid.scss */
  .v-small-width-1-1 {
    width: 100%;
  }

  /* line 64, ../scss/grid.scss */
  .v-small-width-1-2 {
    width: 50%;
  }

  /* line 69, ../scss/grid.scss */
  .v-small-width-1-3 {
    width: 33.33333%;
  }

  /* line 69, ../scss/grid.scss */
  .v-small-width-2-3 {
    width: 66.66667%;
  }

  /* line 74, ../scss/grid.scss */
  .v-small-width-1-4 {
    width: 25%;
  }

  /* line 74, ../scss/grid.scss */
  .v-small-width-2-4 {
    width: 50%;
  }

  /* line 74, ../scss/grid.scss */
  .v-small-width-3-4 {
    width: 75%;
  }

  /* line 79, ../scss/grid.scss */
  .v-small-width-1-5 {
    width: 20%;
  }

  /* line 79, ../scss/grid.scss */
  .v-small-width-2-5 {
    width: 40%;
  }

  /* line 79, ../scss/grid.scss */
  .v-small-width-3-5 {
    width: 60%;
  }

  /* line 79, ../scss/grid.scss */
  .v-small-width-4-5 {
    width: 80%;
  }

  /* line 84, ../scss/grid.scss */
  .v-small-width-1-6 {
    width: 16.66667%;
  }

  /* line 84, ../scss/grid.scss */
  .v-small-width-2-6 {
    width: 33.33333%;
  }

  /* line 84, ../scss/grid.scss */
  .v-small-width-3-6 {
    width: 50%;
  }

  /* line 84, ../scss/grid.scss */
  .v-small-width-4-6 {
    width: 66.66667%;
  }

  /* line 84, ../scss/grid.scss */
  .v-small-width-5-6 {
    width: 83.33333%;
  }

  /* line 89, ../scss/grid.scss */
  .v-small-width-1-7 {
    width: 14.28571%;
  }

  /* line 89, ../scss/grid.scss */
  .v-small-width-2-7 {
    width: 28.57143%;
  }

  /* line 89, ../scss/grid.scss */
  .v-small-width-3-7 {
    width: 42.85714%;
  }

  /* line 89, ../scss/grid.scss */
  .v-small-width-4-7 {
    width: 57.14286%;
  }

  /* line 89, ../scss/grid.scss */
  .v-small-width-5-7 {
    width: 71.42857%;
  }

  /* line 89, ../scss/grid.scss */
  .v-small-width-6-7 {
    width: 85.71429%;
  }

  /* line 94, ../scss/grid.scss */
  .v-small-width-1-8 {
    width: 12.5%;
  }

  /* line 94, ../scss/grid.scss */
  .v-small-width-2-8 {
    width: 25%;
  }

  /* line 94, ../scss/grid.scss */
  .v-small-width-3-8 {
    width: 37.5%;
  }

  /* line 94, ../scss/grid.scss */
  .v-small-width-4-8 {
    width: 50%;
  }

  /* line 94, ../scss/grid.scss */
  .v-small-width-5-8 {
    width: 62.5%;
  }

  /* line 94, ../scss/grid.scss */
  .v-small-width-6-8 {
    width: 75%;
  }

  /* line 94, ../scss/grid.scss */
  .v-small-width-7-8 {
    width: 87.5%;
  }

  /* line 99, ../scss/grid.scss */
  .v-small-width-1-9 {
    width: 11.11111%;
  }

  /* line 99, ../scss/grid.scss */
  .v-small-width-2-9 {
    width: 22.22222%;
  }

  /* line 99, ../scss/grid.scss */
  .v-small-width-3-9 {
    width: 33.33333%;
  }

  /* line 99, ../scss/grid.scss */
  .v-small-width-4-9 {
    width: 44.44444%;
  }

  /* line 99, ../scss/grid.scss */
  .v-small-width-5-9 {
    width: 55.55556%;
  }

  /* line 99, ../scss/grid.scss */
  .v-small-width-6-9 {
    width: 66.66667%;
  }

  /* line 99, ../scss/grid.scss */
  .v-small-width-7-9 {
    width: 77.77778%;
  }

  /* line 99, ../scss/grid.scss */
  .v-small-width-8-9 {
    width: 88.88889%;
  }

  /* line 104, ../scss/grid.scss */
  .v-small-width-1-10 {
    width: 10%;
  }

  /* line 104, ../scss/grid.scss */
  .v-small-width-2-10 {
    width: 20%;
  }

  /* line 104, ../scss/grid.scss */
  .v-small-width-3-10 {
    width: 30%;
  }

  /* line 104, ../scss/grid.scss */
  .v-small-width-4-10 {
    width: 40%;
  }

  /* line 104, ../scss/grid.scss */
  .v-small-width-5-10 {
    width: 50%;
  }

  /* line 104, ../scss/grid.scss */
  .v-small-width-6-10 {
    width: 60%;
  }

  /* line 104, ../scss/grid.scss */
  .v-small-width-7-10 {
    width: 70%;
  }

  /* line 104, ../scss/grid.scss */
  .v-small-width-8-10 {
    width: 80%;
  }

  /* line 104, ../scss/grid.scss */
  .v-small-width-9-10 {
    width: 90%;
  }

  /* line 109, ../scss/grid.scss */
  .v-small-width-1-11 {
    width: 9.09091%;
  }

  /* line 109, ../scss/grid.scss */
  .v-small-width-2-11 {
    width: 18.18182%;
  }

  /* line 109, ../scss/grid.scss */
  .v-small-width-3-11 {
    width: 27.27273%;
  }

  /* line 109, ../scss/grid.scss */
  .v-small-width-4-11 {
    width: 36.36364%;
  }

  /* line 109, ../scss/grid.scss */
  .v-small-width-5-11 {
    width: 45.45455%;
  }

  /* line 109, ../scss/grid.scss */
  .v-small-width-6-11 {
    width: 54.54545%;
  }

  /* line 109, ../scss/grid.scss */
  .v-small-width-7-11 {
    width: 63.63636%;
  }

  /* line 109, ../scss/grid.scss */
  .v-small-width-8-11 {
    width: 72.72727%;
  }

  /* line 109, ../scss/grid.scss */
  .v-small-width-9-11 {
    width: 81.81818%;
  }

  /* line 109, ../scss/grid.scss */
  .v-small-width-10-11 {
    width: 90.90909%;
  }

  /* line 114, ../scss/grid.scss */
  .v-small-width-1-12 {
    width: 8.33333%;
  }

  /* line 114, ../scss/grid.scss */
  .v-small-width-2-12 {
    width: 16.66667%;
  }

  /* line 114, ../scss/grid.scss */
  .v-small-width-3-12 {
    width: 25%;
  }

  /* line 114, ../scss/grid.scss */
  .v-small-width-4-12 {
    width: 33.33333%;
  }

  /* line 114, ../scss/grid.scss */
  .v-small-width-5-12 {
    width: 41.66667%;
  }

  /* line 114, ../scss/grid.scss */
  .v-small-width-6-12 {
    width: 50%;
  }

  /* line 114, ../scss/grid.scss */
  .v-small-width-7-12 {
    width: 58.33333%;
  }

  /* line 114, ../scss/grid.scss */
  .v-small-width-8-12 {
    width: 66.66667%;
  }

  /* line 114, ../scss/grid.scss */
  .v-small-width-9-12 {
    width: 75%;
  }

  /* line 114, ../scss/grid.scss */
  .v-small-width-10-12 {
    width: 83.33333%;
  }

  /* line 114, ../scss/grid.scss */
  .v-small-width-11-12 {
    width: 91.66667%;
  }

  /* line 119, ../scss/grid.scss */
  .v-small-width-1-13 {
    width: 7.69231%;
  }

  /* line 119, ../scss/grid.scss */
  .v-small-width-2-13 {
    width: 15.38462%;
  }

  /* line 119, ../scss/grid.scss */
  .v-small-width-3-13 {
    width: 23.07692%;
  }

  /* line 119, ../scss/grid.scss */
  .v-small-width-4-13 {
    width: 30.76923%;
  }

  /* line 119, ../scss/grid.scss */
  .v-small-width-5-13 {
    width: 38.46154%;
  }

  /* line 119, ../scss/grid.scss */
  .v-small-width-6-13 {
    width: 46.15385%;
  }

  /* line 119, ../scss/grid.scss */
  .v-small-width-7-13 {
    width: 53.84615%;
  }

  /* line 119, ../scss/grid.scss */
  .v-small-width-8-13 {
    width: 61.53846%;
  }

  /* line 119, ../scss/grid.scss */
  .v-small-width-9-13 {
    width: 69.23077%;
  }

  /* line 119, ../scss/grid.scss */
  .v-small-width-10-13 {
    width: 76.92308%;
  }

  /* line 119, ../scss/grid.scss */
  .v-small-width-11-13 {
    width: 84.61538%;
  }

  /* line 119, ../scss/grid.scss */
  .v-small-width-12-13 {
    width: 92.30769%;
  }

  /* line 124, ../scss/grid.scss */
  .v-small-width-1-14 {
    width: 7.14286%;
  }

  /* line 124, ../scss/grid.scss */
  .v-small-width-2-14 {
    width: 14.28571%;
  }

  /* line 124, ../scss/grid.scss */
  .v-small-width-3-14 {
    width: 21.42857%;
  }

  /* line 124, ../scss/grid.scss */
  .v-small-width-4-14 {
    width: 28.57143%;
  }

  /* line 124, ../scss/grid.scss */
  .v-small-width-5-14 {
    width: 35.71429%;
  }

  /* line 124, ../scss/grid.scss */
  .v-small-width-6-14 {
    width: 42.85714%;
  }

  /* line 124, ../scss/grid.scss */
  .v-small-width-7-14 {
    width: 50%;
  }

  /* line 124, ../scss/grid.scss */
  .v-small-width-8-14 {
    width: 57.14286%;
  }

  /* line 124, ../scss/grid.scss */
  .v-small-width-9-14 {
    width: 64.28571%;
  }

  /* line 124, ../scss/grid.scss */
  .v-small-width-10-14 {
    width: 71.42857%;
  }

  /* line 124, ../scss/grid.scss */
  .v-small-width-11-14 {
    width: 78.57143%;
  }

  /* line 124, ../scss/grid.scss */
  .v-small-width-12-14 {
    width: 85.71429%;
  }

  /* line 124, ../scss/grid.scss */
  .v-small-width-13-14 {
    width: 92.85714%;
  }

  /* line 129, ../scss/grid.scss */
  .v-small-width-1-15 {
    width: 6.66667%;
  }

  /* line 129, ../scss/grid.scss */
  .v-small-width-2-15 {
    width: 13.33333%;
  }

  /* line 129, ../scss/grid.scss */
  .v-small-width-3-15 {
    width: 20%;
  }

  /* line 129, ../scss/grid.scss */
  .v-small-width-4-15 {
    width: 26.66667%;
  }

  /* line 129, ../scss/grid.scss */
  .v-small-width-5-15 {
    width: 33.33333%;
  }

  /* line 129, ../scss/grid.scss */
  .v-small-width-6-15 {
    width: 40%;
  }

  /* line 129, ../scss/grid.scss */
  .v-small-width-7-15 {
    width: 46.66667%;
  }

  /* line 129, ../scss/grid.scss */
  .v-small-width-8-15 {
    width: 53.33333%;
  }

  /* line 129, ../scss/grid.scss */
  .v-small-width-9-15 {
    width: 60%;
  }

  /* line 129, ../scss/grid.scss */
  .v-small-width-10-15 {
    width: 66.66667%;
  }

  /* line 129, ../scss/grid.scss */
  .v-small-width-11-15 {
    width: 73.33333%;
  }

  /* line 129, ../scss/grid.scss */
  .v-small-width-12-15 {
    width: 80%;
  }

  /* line 129, ../scss/grid.scss */
  .v-small-width-13-15 {
    width: 86.66667%;
  }

  /* line 129, ../scss/grid.scss */
  .v-small-width-14-15 {
    width: 93.33333%;
  }
}
@media screen and (min-width: 48em) {
  /* line 136, ../scss/grid.scss */
  .v-medium-width-1-1 {
    width: 100%;
  }

  /* line 140, ../scss/grid.scss */
  .v-medium-width-1-2 {
    width: 50%;
  }

  /* line 145, ../scss/grid.scss */
  .v-medium-width-1-3 {
    width: 33.33333%;
  }

  /* line 145, ../scss/grid.scss */
  .v-medium-width-2-3 {
    width: 66.66667%;
  }

  /* line 150, ../scss/grid.scss */
  .v-medium-width-1-4 {
    width: 25%;
  }

  /* line 150, ../scss/grid.scss */
  .v-medium-width-2-4 {
    width: 50%;
  }

  /* line 150, ../scss/grid.scss */
  .v-medium-width-3-4 {
    width: 75%;
  }

  /* line 155, ../scss/grid.scss */
  .v-medium-width-1-5 {
    width: 20%;
  }

  /* line 155, ../scss/grid.scss */
  .v-medium-width-2-5 {
    width: 40%;
  }

  /* line 155, ../scss/grid.scss */
  .v-medium-width-3-5 {
    width: 60%;
  }

  /* line 155, ../scss/grid.scss */
  .v-medium-width-4-5 {
    width: 80%;
  }

  /* line 160, ../scss/grid.scss */
  .v-medium-width-1-6 {
    width: 16.66667%;
  }

  /* line 160, ../scss/grid.scss */
  .v-medium-width-2-6 {
    width: 33.33333%;
  }

  /* line 160, ../scss/grid.scss */
  .v-medium-width-3-6 {
    width: 50%;
  }

  /* line 160, ../scss/grid.scss */
  .v-medium-width-4-6 {
    width: 66.66667%;
  }

  /* line 160, ../scss/grid.scss */
  .v-medium-width-5-6 {
    width: 83.33333%;
  }

  /* line 165, ../scss/grid.scss */
  .v-medium-width-1-7 {
    width: 14.28571%;
  }

  /* line 165, ../scss/grid.scss */
  .v-medium-width-2-7 {
    width: 28.57143%;
  }

  /* line 165, ../scss/grid.scss */
  .v-medium-width-3-7 {
    width: 42.85714%;
  }

  /* line 165, ../scss/grid.scss */
  .v-medium-width-4-7 {
    width: 57.14286%;
  }

  /* line 165, ../scss/grid.scss */
  .v-medium-width-5-7 {
    width: 71.42857%;
  }

  /* line 165, ../scss/grid.scss */
  .v-medium-width-6-7 {
    width: 85.71429%;
  }

  /* line 170, ../scss/grid.scss */
  .v-medium-width-1-8 {
    width: 12.5%;
  }

  /* line 170, ../scss/grid.scss */
  .v-medium-width-2-8 {
    width: 25%;
  }

  /* line 170, ../scss/grid.scss */
  .v-medium-width-3-8 {
    width: 37.5%;
  }

  /* line 170, ../scss/grid.scss */
  .v-medium-width-4-8 {
    width: 50%;
  }

  /* line 170, ../scss/grid.scss */
  .v-medium-width-5-8 {
    width: 62.5%;
  }

  /* line 170, ../scss/grid.scss */
  .v-medium-width-6-8 {
    width: 75%;
  }

  /* line 170, ../scss/grid.scss */
  .v-medium-width-7-8 {
    width: 87.5%;
  }

  /* line 175, ../scss/grid.scss */
  .v-medium-width-1-9 {
    width: 11.11111%;
  }

  /* line 175, ../scss/grid.scss */
  .v-medium-width-2-9 {
    width: 22.22222%;
  }

  /* line 175, ../scss/grid.scss */
  .v-medium-width-3-9 {
    width: 33.33333%;
  }

  /* line 175, ../scss/grid.scss */
  .v-medium-width-4-9 {
    width: 44.44444%;
  }

  /* line 175, ../scss/grid.scss */
  .v-medium-width-5-9 {
    width: 55.55556%;
  }

  /* line 175, ../scss/grid.scss */
  .v-medium-width-6-9 {
    width: 66.66667%;
  }

  /* line 175, ../scss/grid.scss */
  .v-medium-width-7-9 {
    width: 77.77778%;
  }

  /* line 175, ../scss/grid.scss */
  .v-medium-width-8-9 {
    width: 88.88889%;
  }

  /* line 180, ../scss/grid.scss */
  .v-medium-width-1-10 {
    width: 10%;
  }

  /* line 180, ../scss/grid.scss */
  .v-medium-width-2-10 {
    width: 20%;
  }

  /* line 180, ../scss/grid.scss */
  .v-medium-width-3-10 {
    width: 30%;
  }

  /* line 180, ../scss/grid.scss */
  .v-medium-width-4-10 {
    width: 40%;
  }

  /* line 180, ../scss/grid.scss */
  .v-medium-width-5-10 {
    width: 50%;
  }

  /* line 180, ../scss/grid.scss */
  .v-medium-width-6-10 {
    width: 60%;
  }

  /* line 180, ../scss/grid.scss */
  .v-medium-width-7-10 {
    width: 70%;
  }

  /* line 180, ../scss/grid.scss */
  .v-medium-width-8-10 {
    width: 80%;
  }

  /* line 180, ../scss/grid.scss */
  .v-medium-width-9-10 {
    width: 90%;
  }

  /* line 185, ../scss/grid.scss */
  .v-medium-width-1-11 {
    width: 9.09091%;
  }

  /* line 185, ../scss/grid.scss */
  .v-medium-width-2-11 {
    width: 18.18182%;
  }

  /* line 185, ../scss/grid.scss */
  .v-medium-width-3-11 {
    width: 27.27273%;
  }

  /* line 185, ../scss/grid.scss */
  .v-medium-width-4-11 {
    width: 36.36364%;
  }

  /* line 185, ../scss/grid.scss */
  .v-medium-width-5-11 {
    width: 45.45455%;
  }

  /* line 185, ../scss/grid.scss */
  .v-medium-width-6-11 {
    width: 54.54545%;
  }

  /* line 185, ../scss/grid.scss */
  .v-medium-width-7-11 {
    width: 63.63636%;
  }

  /* line 185, ../scss/grid.scss */
  .v-medium-width-8-11 {
    width: 72.72727%;
  }

  /* line 185, ../scss/grid.scss */
  .v-medium-width-9-11 {
    width: 81.81818%;
  }

  /* line 185, ../scss/grid.scss */
  .v-medium-width-10-11 {
    width: 90.90909%;
  }

  /* line 190, ../scss/grid.scss */
  .v-medium-width-1-12 {
    width: 8.33333%;
  }

  /* line 190, ../scss/grid.scss */
  .v-medium-width-2-12 {
    width: 16.66667%;
  }

  /* line 190, ../scss/grid.scss */
  .v-medium-width-3-12 {
    width: 25%;
  }

  /* line 190, ../scss/grid.scss */
  .v-medium-width-4-12 {
    width: 33.33333%;
  }

  /* line 190, ../scss/grid.scss */
  .v-medium-width-5-12 {
    width: 41.66667%;
  }

  /* line 190, ../scss/grid.scss */
  .v-medium-width-6-12 {
    width: 50%;
  }

  /* line 190, ../scss/grid.scss */
  .v-medium-width-7-12 {
    width: 58.33333%;
  }

  /* line 190, ../scss/grid.scss */
  .v-medium-width-8-12 {
    width: 66.66667%;
  }

  /* line 190, ../scss/grid.scss */
  .v-medium-width-9-12 {
    width: 75%;
  }

  /* line 190, ../scss/grid.scss */
  .v-medium-width-10-12 {
    width: 83.33333%;
  }

  /* line 190, ../scss/grid.scss */
  .v-medium-width-11-12 {
    width: 91.66667%;
  }

  /* line 195, ../scss/grid.scss */
  .v-medium-width-1-13 {
    width: 7.69231%;
  }

  /* line 195, ../scss/grid.scss */
  .v-medium-width-2-13 {
    width: 15.38462%;
  }

  /* line 195, ../scss/grid.scss */
  .v-medium-width-3-13 {
    width: 23.07692%;
  }

  /* line 195, ../scss/grid.scss */
  .v-medium-width-4-13 {
    width: 30.76923%;
  }

  /* line 195, ../scss/grid.scss */
  .v-medium-width-5-13 {
    width: 38.46154%;
  }

  /* line 195, ../scss/grid.scss */
  .v-medium-width-6-13 {
    width: 46.15385%;
  }

  /* line 195, ../scss/grid.scss */
  .v-medium-width-7-13 {
    width: 53.84615%;
  }

  /* line 195, ../scss/grid.scss */
  .v-medium-width-8-13 {
    width: 61.53846%;
  }

  /* line 195, ../scss/grid.scss */
  .v-medium-width-9-13 {
    width: 69.23077%;
  }

  /* line 195, ../scss/grid.scss */
  .v-medium-width-10-13 {
    width: 76.92308%;
  }

  /* line 195, ../scss/grid.scss */
  .v-medium-width-11-13 {
    width: 84.61538%;
  }

  /* line 195, ../scss/grid.scss */
  .v-medium-width-12-13 {
    width: 92.30769%;
  }

  /* line 200, ../scss/grid.scss */
  .v-medium-width-1-14 {
    width: 7.14286%;
  }

  /* line 200, ../scss/grid.scss */
  .v-medium-width-2-14 {
    width: 14.28571%;
  }

  /* line 200, ../scss/grid.scss */
  .v-medium-width-3-14 {
    width: 21.42857%;
  }

  /* line 200, ../scss/grid.scss */
  .v-medium-width-4-14 {
    width: 28.57143%;
  }

  /* line 200, ../scss/grid.scss */
  .v-medium-width-5-14 {
    width: 35.71429%;
  }

  /* line 200, ../scss/grid.scss */
  .v-medium-width-6-14 {
    width: 42.85714%;
  }

  /* line 200, ../scss/grid.scss */
  .v-medium-width-7-14 {
    width: 50%;
  }

  /* line 200, ../scss/grid.scss */
  .v-medium-width-8-14 {
    width: 57.14286%;
  }

  /* line 200, ../scss/grid.scss */
  .v-medium-width-9-14 {
    width: 64.28571%;
  }

  /* line 200, ../scss/grid.scss */
  .v-medium-width-10-14 {
    width: 71.42857%;
  }

  /* line 200, ../scss/grid.scss */
  .v-medium-width-11-14 {
    width: 78.57143%;
  }

  /* line 200, ../scss/grid.scss */
  .v-medium-width-12-14 {
    width: 85.71429%;
  }

  /* line 200, ../scss/grid.scss */
  .v-medium-width-13-14 {
    width: 92.85714%;
  }

  /* line 205, ../scss/grid.scss */
  .v-medium-width-1-15 {
    width: 6.66667%;
  }

  /* line 205, ../scss/grid.scss */
  .v-medium-width-2-15 {
    width: 13.33333%;
  }

  /* line 205, ../scss/grid.scss */
  .v-medium-width-3-15 {
    width: 20%;
  }

  /* line 205, ../scss/grid.scss */
  .v-medium-width-4-15 {
    width: 26.66667%;
  }

  /* line 205, ../scss/grid.scss */
  .v-medium-width-5-15 {
    width: 33.33333%;
  }

  /* line 205, ../scss/grid.scss */
  .v-medium-width-6-15 {
    width: 40%;
  }

  /* line 205, ../scss/grid.scss */
  .v-medium-width-7-15 {
    width: 46.66667%;
  }

  /* line 205, ../scss/grid.scss */
  .v-medium-width-8-15 {
    width: 53.33333%;
  }

  /* line 205, ../scss/grid.scss */
  .v-medium-width-9-15 {
    width: 60%;
  }

  /* line 205, ../scss/grid.scss */
  .v-medium-width-10-15 {
    width: 66.66667%;
  }

  /* line 205, ../scss/grid.scss */
  .v-medium-width-11-15 {
    width: 73.33333%;
  }

  /* line 205, ../scss/grid.scss */
  .v-medium-width-12-15 {
    width: 80%;
  }

  /* line 205, ../scss/grid.scss */
  .v-medium-width-13-15 {
    width: 86.66667%;
  }

  /* line 205, ../scss/grid.scss */
  .v-medium-width-14-15 {
    width: 93.33333%;
  }
}
@media screen and (min-width: 64em) {
  /* line 212, ../scss/grid.scss */
  .v-large-width-1-1 {
    width: 100%;
  }

  /* line 216, ../scss/grid.scss */
  .v-large-width-1-2 {
    width: 50%;
  }

  /* line 221, ../scss/grid.scss */
  .v-large-width-1-3 {
    width: 33.33333%;
  }

  /* line 221, ../scss/grid.scss */
  .v-large-width-2-3 {
    width: 66.66667%;
  }

  /* line 226, ../scss/grid.scss */
  .v-large-width-1-4 {
    width: 25%;
  }

  /* line 226, ../scss/grid.scss */
  .v-large-width-2-4 {
    width: 50%;
  }

  /* line 226, ../scss/grid.scss */
  .v-large-width-3-4 {
    width: 75%;
  }

  /* line 231, ../scss/grid.scss */
  .v-large-width-1-5 {
    width: 20%;
  }

  /* line 231, ../scss/grid.scss */
  .v-large-width-2-5 {
    width: 40%;
  }

  /* line 231, ../scss/grid.scss */
  .v-large-width-3-5 {
    width: 60%;
  }

  /* line 231, ../scss/grid.scss */
  .v-large-width-4-5 {
    width: 80%;
  }

  /* line 236, ../scss/grid.scss */
  .v-large-width-1-6 {
    width: 16.66667%;
  }

  /* line 236, ../scss/grid.scss */
  .v-large-width-2-6 {
    width: 33.33333%;
  }

  /* line 236, ../scss/grid.scss */
  .v-large-width-3-6 {
    width: 50%;
  }

  /* line 236, ../scss/grid.scss */
  .v-large-width-4-6 {
    width: 66.66667%;
  }

  /* line 236, ../scss/grid.scss */
  .v-large-width-5-6 {
    width: 83.33333%;
  }

  /* line 241, ../scss/grid.scss */
  .v-large-width-1-7 {
    width: 14.28571%;
  }

  /* line 241, ../scss/grid.scss */
  .v-large-width-2-7 {
    width: 28.57143%;
  }

  /* line 241, ../scss/grid.scss */
  .v-large-width-3-7 {
    width: 42.85714%;
  }

  /* line 241, ../scss/grid.scss */
  .v-large-width-4-7 {
    width: 57.14286%;
  }

  /* line 241, ../scss/grid.scss */
  .v-large-width-5-7 {
    width: 71.42857%;
  }

  /* line 241, ../scss/grid.scss */
  .v-large-width-6-7 {
    width: 85.71429%;
  }

  /* line 246, ../scss/grid.scss */
  .v-large-width-1-8 {
    width: 12.5%;
  }

  /* line 246, ../scss/grid.scss */
  .v-large-width-2-8 {
    width: 25%;
  }

  /* line 246, ../scss/grid.scss */
  .v-large-width-3-8 {
    width: 37.5%;
  }

  /* line 246, ../scss/grid.scss */
  .v-large-width-4-8 {
    width: 50%;
  }

  /* line 246, ../scss/grid.scss */
  .v-large-width-5-8 {
    width: 62.5%;
  }

  /* line 246, ../scss/grid.scss */
  .v-large-width-6-8 {
    width: 75%;
  }

  /* line 246, ../scss/grid.scss */
  .v-large-width-7-8 {
    width: 87.5%;
  }

  /* line 251, ../scss/grid.scss */
  .v-large-width-1-9 {
    width: 11.11111%;
  }

  /* line 251, ../scss/grid.scss */
  .v-large-width-2-9 {
    width: 22.22222%;
  }

  /* line 251, ../scss/grid.scss */
  .v-large-width-3-9 {
    width: 33.33333%;
  }

  /* line 251, ../scss/grid.scss */
  .v-large-width-4-9 {
    width: 44.44444%;
  }

  /* line 251, ../scss/grid.scss */
  .v-large-width-5-9 {
    width: 55.55556%;
  }

  /* line 251, ../scss/grid.scss */
  .v-large-width-6-9 {
    width: 66.66667%;
  }

  /* line 251, ../scss/grid.scss */
  .v-large-width-7-9 {
    width: 77.77778%;
  }

  /* line 251, ../scss/grid.scss */
  .v-large-width-8-9 {
    width: 88.88889%;
  }

  /* line 256, ../scss/grid.scss */
  .v-large-width-1-10 {
    width: 10%;
  }

  /* line 256, ../scss/grid.scss */
  .v-large-width-2-10 {
    width: 20%;
  }

  /* line 256, ../scss/grid.scss */
  .v-large-width-3-10 {
    width: 30%;
  }

  /* line 256, ../scss/grid.scss */
  .v-large-width-4-10 {
    width: 40%;
  }

  /* line 256, ../scss/grid.scss */
  .v-large-width-5-10 {
    width: 50%;
  }

  /* line 256, ../scss/grid.scss */
  .v-large-width-6-10 {
    width: 60%;
  }

  /* line 256, ../scss/grid.scss */
  .v-large-width-7-10 {
    width: 70%;
  }

  /* line 256, ../scss/grid.scss */
  .v-large-width-8-10 {
    width: 80%;
  }

  /* line 256, ../scss/grid.scss */
  .v-large-width-9-10 {
    width: 90%;
  }

  /* line 261, ../scss/grid.scss */
  .v-large-width-1-11 {
    width: 9.09091%;
  }

  /* line 261, ../scss/grid.scss */
  .v-large-width-2-11 {
    width: 18.18182%;
  }

  /* line 261, ../scss/grid.scss */
  .v-large-width-3-11 {
    width: 27.27273%;
  }

  /* line 261, ../scss/grid.scss */
  .v-large-width-4-11 {
    width: 36.36364%;
  }

  /* line 261, ../scss/grid.scss */
  .v-large-width-5-11 {
    width: 45.45455%;
  }

  /* line 261, ../scss/grid.scss */
  .v-large-width-6-11 {
    width: 54.54545%;
  }

  /* line 261, ../scss/grid.scss */
  .v-large-width-7-11 {
    width: 63.63636%;
  }

  /* line 261, ../scss/grid.scss */
  .v-large-width-8-11 {
    width: 72.72727%;
  }

  /* line 261, ../scss/grid.scss */
  .v-large-width-9-11 {
    width: 81.81818%;
  }

  /* line 261, ../scss/grid.scss */
  .v-large-width-10-11 {
    width: 90.90909%;
  }

  /* line 266, ../scss/grid.scss */
  .v-large-width-1-12 {
    width: 8.33333%;
  }

  /* line 266, ../scss/grid.scss */
  .v-large-width-2-12 {
    width: 16.66667%;
  }

  /* line 266, ../scss/grid.scss */
  .v-large-width-3-12 {
    width: 25%;
  }

  /* line 266, ../scss/grid.scss */
  .v-large-width-4-12 {
    width: 33.33333%;
  }

  /* line 266, ../scss/grid.scss */
  .v-large-width-5-12 {
    width: 41.66667%;
  }

  /* line 266, ../scss/grid.scss */
  .v-large-width-6-12 {
    width: 50%;
  }

  /* line 266, ../scss/grid.scss */
  .v-large-width-7-12 {
    width: 58.33333%;
  }

  /* line 266, ../scss/grid.scss */
  .v-large-width-8-12 {
    width: 66.66667%;
  }

  /* line 266, ../scss/grid.scss */
  .v-large-width-9-12 {
    width: 75%;
  }

  /* line 266, ../scss/grid.scss */
  .v-large-width-10-12 {
    width: 83.33333%;
  }

  /* line 266, ../scss/grid.scss */
  .v-large-width-11-12 {
    width: 91.66667%;
  }

  /* line 271, ../scss/grid.scss */
  .v-large-width-1-13 {
    width: 7.69231%;
  }

  /* line 271, ../scss/grid.scss */
  .v-large-width-2-13 {
    width: 15.38462%;
  }

  /* line 271, ../scss/grid.scss */
  .v-large-width-3-13 {
    width: 23.07692%;
  }

  /* line 271, ../scss/grid.scss */
  .v-large-width-4-13 {
    width: 30.76923%;
  }

  /* line 271, ../scss/grid.scss */
  .v-large-width-5-13 {
    width: 38.46154%;
  }

  /* line 271, ../scss/grid.scss */
  .v-large-width-6-13 {
    width: 46.15385%;
  }

  /* line 271, ../scss/grid.scss */
  .v-large-width-7-13 {
    width: 53.84615%;
  }

  /* line 271, ../scss/grid.scss */
  .v-large-width-8-13 {
    width: 61.53846%;
  }

  /* line 271, ../scss/grid.scss */
  .v-large-width-9-13 {
    width: 69.23077%;
  }

  /* line 271, ../scss/grid.scss */
  .v-large-width-10-13 {
    width: 76.92308%;
  }

  /* line 271, ../scss/grid.scss */
  .v-large-width-11-13 {
    width: 84.61538%;
  }

  /* line 271, ../scss/grid.scss */
  .v-large-width-12-13 {
    width: 92.30769%;
  }

  /* line 276, ../scss/grid.scss */
  .v-large-width-1-14 {
    width: 7.14286%;
  }

  /* line 276, ../scss/grid.scss */
  .v-large-width-2-14 {
    width: 14.28571%;
  }

  /* line 276, ../scss/grid.scss */
  .v-large-width-3-14 {
    width: 21.42857%;
  }

  /* line 276, ../scss/grid.scss */
  .v-large-width-4-14 {
    width: 28.57143%;
  }

  /* line 276, ../scss/grid.scss */
  .v-large-width-5-14 {
    width: 35.71429%;
  }

  /* line 276, ../scss/grid.scss */
  .v-large-width-6-14 {
    width: 42.85714%;
  }

  /* line 276, ../scss/grid.scss */
  .v-large-width-7-14 {
    width: 50%;
  }

  /* line 276, ../scss/grid.scss */
  .v-large-width-8-14 {
    width: 57.14286%;
  }

  /* line 276, ../scss/grid.scss */
  .v-large-width-9-14 {
    width: 64.28571%;
  }

  /* line 276, ../scss/grid.scss */
  .v-large-width-10-14 {
    width: 71.42857%;
  }

  /* line 276, ../scss/grid.scss */
  .v-large-width-11-14 {
    width: 78.57143%;
  }

  /* line 276, ../scss/grid.scss */
  .v-large-width-12-14 {
    width: 85.71429%;
  }

  /* line 276, ../scss/grid.scss */
  .v-large-width-13-14 {
    width: 92.85714%;
  }

  /* line 281, ../scss/grid.scss */
  .v-large-width-1-15 {
    width: 6.66667%;
  }

  /* line 281, ../scss/grid.scss */
  .v-large-width-2-15 {
    width: 13.33333%;
  }

  /* line 281, ../scss/grid.scss */
  .v-large-width-3-15 {
    width: 20%;
  }

  /* line 281, ../scss/grid.scss */
  .v-large-width-4-15 {
    width: 26.66667%;
  }

  /* line 281, ../scss/grid.scss */
  .v-large-width-5-15 {
    width: 33.33333%;
  }

  /* line 281, ../scss/grid.scss */
  .v-large-width-6-15 {
    width: 40%;
  }

  /* line 281, ../scss/grid.scss */
  .v-large-width-7-15 {
    width: 46.66667%;
  }

  /* line 281, ../scss/grid.scss */
  .v-large-width-8-15 {
    width: 53.33333%;
  }

  /* line 281, ../scss/grid.scss */
  .v-large-width-9-15 {
    width: 60%;
  }

  /* line 281, ../scss/grid.scss */
  .v-large-width-10-15 {
    width: 66.66667%;
  }

  /* line 281, ../scss/grid.scss */
  .v-large-width-11-15 {
    width: 73.33333%;
  }

  /* line 281, ../scss/grid.scss */
  .v-large-width-12-15 {
    width: 80%;
  }

  /* line 281, ../scss/grid.scss */
  .v-large-width-13-15 {
    width: 86.66667%;
  }

  /* line 281, ../scss/grid.scss */
  .v-large-width-14-15 {
    width: 93.33333%;
  }
}
@media screen and (min-width: 80em) {
  /* line 288, ../scss/grid.scss */
  .v-width-1-1 {
    width: 100%;
  }

  /* line 292, ../scss/grid.scss */
  .v-width-1-2 {
    width: 50%;
  }

  /* line 297, ../scss/grid.scss */
  .v-width-1-3 {
    width: 33.33333%;
  }

  /* line 297, ../scss/grid.scss */
  .v-width-2-3 {
    width: 66.66667%;
  }

  /* line 302, ../scss/grid.scss */
  .v-width-1-4 {
    width: 25%;
  }

  /* line 302, ../scss/grid.scss */
  .v-width-2-4 {
    width: 50%;
  }

  /* line 302, ../scss/grid.scss */
  .v-width-3-4 {
    width: 75%;
  }

  /* line 307, ../scss/grid.scss */
  .v-width-1-5 {
    width: 20%;
  }

  /* line 307, ../scss/grid.scss */
  .v-width-2-5 {
    width: 40%;
  }

  /* line 307, ../scss/grid.scss */
  .v-width-3-5 {
    width: 60%;
  }

  /* line 307, ../scss/grid.scss */
  .v-width-4-5 {
    width: 80%;
  }

  /* line 312, ../scss/grid.scss */
  .v-width-1-6 {
    width: 16.66667%;
  }

  /* line 312, ../scss/grid.scss */
  .v-width-2-6 {
    width: 33.33333%;
  }

  /* line 312, ../scss/grid.scss */
  .v-width-3-6 {
    width: 50%;
  }

  /* line 312, ../scss/grid.scss */
  .v-width-4-6 {
    width: 66.66667%;
  }

  /* line 312, ../scss/grid.scss */
  .v-width-5-6 {
    width: 83.33333%;
  }

  /* line 317, ../scss/grid.scss */
  .v-width-1-7 {
    width: 14.28571%;
  }

  /* line 317, ../scss/grid.scss */
  .v-width-2-7 {
    width: 28.57143%;
  }

  /* line 317, ../scss/grid.scss */
  .v-width-3-7 {
    width: 42.85714%;
  }

  /* line 317, ../scss/grid.scss */
  .v-width-4-7 {
    width: 57.14286%;
  }

  /* line 317, ../scss/grid.scss */
  .v-width-5-7 {
    width: 71.42857%;
  }

  /* line 317, ../scss/grid.scss */
  .v-width-6-7 {
    width: 85.71429%;
  }

  /* line 322, ../scss/grid.scss */
  .v-width-1-8 {
    width: 12.5%;
  }

  /* line 322, ../scss/grid.scss */
  .v-width-2-8 {
    width: 25%;
  }

  /* line 322, ../scss/grid.scss */
  .v-width-3-8 {
    width: 37.5%;
  }

  /* line 322, ../scss/grid.scss */
  .v-width-4-8 {
    width: 50%;
  }

  /* line 322, ../scss/grid.scss */
  .v-width-5-8 {
    width: 62.5%;
  }

  /* line 322, ../scss/grid.scss */
  .v-width-6-8 {
    width: 75%;
  }

  /* line 322, ../scss/grid.scss */
  .v-width-7-8 {
    width: 87.5%;
  }

  /* line 327, ../scss/grid.scss */
  .v-width-1-9 {
    width: 11.11111%;
  }

  /* line 327, ../scss/grid.scss */
  .v-width-2-9 {
    width: 22.22222%;
  }

  /* line 327, ../scss/grid.scss */
  .v-width-3-9 {
    width: 33.33333%;
  }

  /* line 327, ../scss/grid.scss */
  .v-width-4-9 {
    width: 44.44444%;
  }

  /* line 327, ../scss/grid.scss */
  .v-width-5-9 {
    width: 55.55556%;
  }

  /* line 327, ../scss/grid.scss */
  .v-width-6-9 {
    width: 66.66667%;
  }

  /* line 327, ../scss/grid.scss */
  .v-width-7-9 {
    width: 77.77778%;
  }

  /* line 327, ../scss/grid.scss */
  .v-width-8-9 {
    width: 88.88889%;
  }

  /* line 332, ../scss/grid.scss */
  .v-width-1-10 {
    width: 10%;
  }

  /* line 332, ../scss/grid.scss */
  .v-width-2-10 {
    width: 20%;
  }

  /* line 332, ../scss/grid.scss */
  .v-width-3-10 {
    width: 30%;
  }

  /* line 332, ../scss/grid.scss */
  .v-width-4-10 {
    width: 40%;
  }

  /* line 332, ../scss/grid.scss */
  .v-width-5-10 {
    width: 50%;
  }

  /* line 332, ../scss/grid.scss */
  .v-width-6-10 {
    width: 60%;
  }

  /* line 332, ../scss/grid.scss */
  .v-width-7-10 {
    width: 70%;
  }

  /* line 332, ../scss/grid.scss */
  .v-width-8-10 {
    width: 80%;
  }

  /* line 332, ../scss/grid.scss */
  .v-width-9-10 {
    width: 90%;
  }

  /* line 337, ../scss/grid.scss */
  .v-width-1-11 {
    width: 9.09091%;
  }

  /* line 337, ../scss/grid.scss */
  .v-width-2-11 {
    width: 18.18182%;
  }

  /* line 337, ../scss/grid.scss */
  .v-width-3-11 {
    width: 27.27273%;
  }

  /* line 337, ../scss/grid.scss */
  .v-width-4-11 {
    width: 36.36364%;
  }

  /* line 337, ../scss/grid.scss */
  .v-width-5-11 {
    width: 45.45455%;
  }

  /* line 337, ../scss/grid.scss */
  .v-width-6-11 {
    width: 54.54545%;
  }

  /* line 337, ../scss/grid.scss */
  .v-width-7-11 {
    width: 63.63636%;
  }

  /* line 337, ../scss/grid.scss */
  .v-width-8-11 {
    width: 72.72727%;
  }

  /* line 337, ../scss/grid.scss */
  .v-width-9-11 {
    width: 81.81818%;
  }

  /* line 337, ../scss/grid.scss */
  .v-width-10-11 {
    width: 90.90909%;
  }

  /* line 342, ../scss/grid.scss */
  .v-width-1-12 {
    width: 8.33333%;
  }

  /* line 342, ../scss/grid.scss */
  .v-width-2-12 {
    width: 16.66667%;
  }

  /* line 342, ../scss/grid.scss */
  .v-width-3-12 {
    width: 25%;
  }

  /* line 342, ../scss/grid.scss */
  .v-width-4-12 {
    width: 33.33333%;
  }

  /* line 342, ../scss/grid.scss */
  .v-width-5-12 {
    width: 41.66667%;
  }

  /* line 342, ../scss/grid.scss */
  .v-width-6-12 {
    width: 50%;
  }

  /* line 342, ../scss/grid.scss */
  .v-width-7-12 {
    width: 58.33333%;
  }

  /* line 342, ../scss/grid.scss */
  .v-width-8-12 {
    width: 66.66667%;
  }

  /* line 342, ../scss/grid.scss */
  .v-width-9-12 {
    width: 75%;
  }

  /* line 342, ../scss/grid.scss */
  .v-width-10-12 {
    width: 83.33333%;
  }

  /* line 342, ../scss/grid.scss */
  .v-width-11-12 {
    width: 91.66667%;
  }

  /* line 347, ../scss/grid.scss */
  .v-width-1-13 {
    width: 7.69231%;
  }

  /* line 347, ../scss/grid.scss */
  .v-width-2-13 {
    width: 15.38462%;
  }

  /* line 347, ../scss/grid.scss */
  .v-width-3-13 {
    width: 23.07692%;
  }

  /* line 347, ../scss/grid.scss */
  .v-width-4-13 {
    width: 30.76923%;
  }

  /* line 347, ../scss/grid.scss */
  .v-width-5-13 {
    width: 38.46154%;
  }

  /* line 347, ../scss/grid.scss */
  .v-width-6-13 {
    width: 46.15385%;
  }

  /* line 347, ../scss/grid.scss */
  .v-width-7-13 {
    width: 53.84615%;
  }

  /* line 347, ../scss/grid.scss */
  .v-width-8-13 {
    width: 61.53846%;
  }

  /* line 347, ../scss/grid.scss */
  .v-width-9-13 {
    width: 69.23077%;
  }

  /* line 347, ../scss/grid.scss */
  .v-width-10-13 {
    width: 76.92308%;
  }

  /* line 347, ../scss/grid.scss */
  .v-width-11-13 {
    width: 84.61538%;
  }

  /* line 347, ../scss/grid.scss */
  .v-width-12-13 {
    width: 92.30769%;
  }

  /* line 352, ../scss/grid.scss */
  .v-width-1-14 {
    width: 7.14286%;
  }

  /* line 352, ../scss/grid.scss */
  .v-width-2-14 {
    width: 14.28571%;
  }

  /* line 352, ../scss/grid.scss */
  .v-width-3-14 {
    width: 21.42857%;
  }

  /* line 352, ../scss/grid.scss */
  .v-width-4-14 {
    width: 28.57143%;
  }

  /* line 352, ../scss/grid.scss */
  .v-width-5-14 {
    width: 35.71429%;
  }

  /* line 352, ../scss/grid.scss */
  .v-width-6-14 {
    width: 42.85714%;
  }

  /* line 352, ../scss/grid.scss */
  .v-width-7-14 {
    width: 50%;
  }

  /* line 352, ../scss/grid.scss */
  .v-width-8-14 {
    width: 57.14286%;
  }

  /* line 352, ../scss/grid.scss */
  .v-width-9-14 {
    width: 64.28571%;
  }

  /* line 352, ../scss/grid.scss */
  .v-width-10-14 {
    width: 71.42857%;
  }

  /* line 352, ../scss/grid.scss */
  .v-width-11-14 {
    width: 78.57143%;
  }

  /* line 352, ../scss/grid.scss */
  .v-width-12-14 {
    width: 85.71429%;
  }

  /* line 352, ../scss/grid.scss */
  .v-width-13-14 {
    width: 92.85714%;
  }

  /* line 357, ../scss/grid.scss */
  .v-width-1-15 {
    width: 6.66667%;
  }

  /* line 357, ../scss/grid.scss */
  .v-width-2-15 {
    width: 13.33333%;
  }

  /* line 357, ../scss/grid.scss */
  .v-width-3-15 {
    width: 20%;
  }

  /* line 357, ../scss/grid.scss */
  .v-width-4-15 {
    width: 26.66667%;
  }

  /* line 357, ../scss/grid.scss */
  .v-width-5-15 {
    width: 33.33333%;
  }

  /* line 357, ../scss/grid.scss */
  .v-width-6-15 {
    width: 40%;
  }

  /* line 357, ../scss/grid.scss */
  .v-width-7-15 {
    width: 46.66667%;
  }

  /* line 357, ../scss/grid.scss */
  .v-width-8-15 {
    width: 53.33333%;
  }

  /* line 357, ../scss/grid.scss */
  .v-width-9-15 {
    width: 60%;
  }

  /* line 357, ../scss/grid.scss */
  .v-width-10-15 {
    width: 66.66667%;
  }

  /* line 357, ../scss/grid.scss */
  .v-width-11-15 {
    width: 73.33333%;
  }

  /* line 357, ../scss/grid.scss */
  .v-width-12-15 {
    width: 80%;
  }

  /* line 357, ../scss/grid.scss */
  .v-width-13-15 {
    width: 86.66667%;
  }

  /* line 357, ../scss/grid.scss */
  .v-width-14-15 {
    width: 93.33333%;
  }
}
