/* ******************************************************
* Create div with ID v-offcanvas
* Create button or link with class v-toggle-offcanvas
****************************************************** */
#v-offcanvas {
  width: 20%;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out; }

#v-offcanvas.v-flip {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  left: auto;
  right: 0; }

#v-offcanvas.v-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

#v-offcanvas {
  background-color: #212121;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05); }
  #v-offcanvas ul {
    margin: 0;
    padding: 0; }
    #v-offcanvas ul li a {
      font-size: 16px;
      color: #f1f1f1;
      background-color: #212121;
      padding: 5%;
      border-top: 1px solid rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
      text-decoration: none;
      display: block; }
      #v-offcanvas ul li a:hover, #v-offcanvas ul li a:focus {
        background-color: #3b3b3b;
        transition: 0.3s; }
    #v-offcanvas ul li .active {
      background-color: #080808; }

@media (max-device-width: 1024px) {
  #v-offcanvas {
    width: 100%; } }
